@using EvilWords.BlazorWASM.Pages
@inherits LayoutComponentBase

<MudThemeProvider @ref="_mudThemeProvider" Theme=" Themes.DarkTheme"/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<PageTitle>EvilWords.Blazor</PageTitle>

<div class="page">


    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{

    private MudThemeProvider _mudThemeProvider;

    public MudTheme Theme => _mudThemeProvider?.IsDarkMode == true ? Themes.DarkTheme : Themes.DefaultTheme;

}